services:
  web:
    build: .
    container_name: real_estate_app
    ports:
      - "5000:5000"
    volumes:
      - ./instance:/app/instance
    environment:
      - FLASK_ENV=development
    restart: unless-stopped